    @import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

    body {
        font-family: 'Poiret One', cursive;
        overflow: hidden;
        background: conic-gradient(from .5turn at 50% 110%, white, orange);
    }

.container {
    width: 95%;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.webClock {
    border: 1px solid black;
    width: fit-content;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    color: white;
    background: rgba(0, 0, 0, 0.103);
}

.webClock h1{
    display: inline-block;
    margin: 0 10px;
    font-weight: bold;
    font-size: 5rem;
}

@media(max-width: 768px) {
    #bar1, #bar2 {
        display: none;
    }
    .webClock {
        text-align: center;
        width: 100%;
    }
    .webClock h1 {
        display: block;
    }
}

@media(max-width: 480px) {
    .webClock h1{
        font-size: 4rem;
    }
}